

html {
    background-color: rgb(233, 235, 238);
}

section > form {
    display: flex;
    flex-direction: column;
    max-width: 12.5rem;
    min-height: 12.5rem;
}

input[type=submit] {
    padding: 0.5rem 3rem;
    background-color: rgb(102, 34, 34);
    color: #fff;
    min-width: 12rem;
    border-radius: 0.5rem;
}

input[type=submit]:hover,
input[type=submit]:active {
    background-color: #fff;
    color: rgb(102, 34, 34);
}



footer {
    font-size: 80%;
}